# Dependency directories
**/node_modules/
**/dist/
**/build/

# IDE/Editor config
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

# Databases / Prisma
**/prisma/dev.db
**/prisma/dev.db-journal

# Environment files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Logs and test results
**/playwright-report/
**/test-results/
**/*.log

# SSH keys
chave.pem

